body {
    box-sizing: border-box;
}

.wrapper {
    width: 80%;
    height: auto;
    margin: 20px auto;
    /* background-color: green; */
    padding: 20px 0;
}

.name-wrapper {
    width: 100%;
    height: auto;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dave {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

a {
    color: black;
}